<div class="menu__details" *ngIf="orderDetails.totalQuantity !== 0">
    <div class="menu__detailbar">
        <li>
            <strong>Quantity:</strong>
            <span class="menu__detail-value">{{ orderDetails.totalQuantity }}</span>
        </li>
        <li>
            <strong>Discount:</strong>
            <span class="menu__detail-value">NRS {{ orderDetails.totalDiscount }}</span>
        </li>
        <li>
    </div>
    <div class="menu__detailbar">
        <li>
            <strong>Total:</strong>
            <span class="menu__detail-value">NRS {{ orderDetails.totalPrice }}</span>
        </li>
        <li>
            <strong>Net Total:</strong>
            <span class="menu__detail-value">NRS {{ orderDetails.netTotal }}</span>
        </li>
    </div>
</div>