<div class="menu__details">
    <div class="menu__detailbar">
        <li>
            <strong>Total Quantity:</strong>
            <span class="menu__detail-value">55</span>
        </li>
        <li>
            <strong>Total Price:</strong>
            <span class="menu__detail-value">NRS 5000</span>
        </li>
        <li>
    </div>
    <div class="menu__detailbar">
        <li>
            <strong>Total Price:</strong>
            <span class="menu__detail-value">NRS 5000</span>
        </li>
        <li>
            <strong>Net Price:</strong>
            <span class="menu__detail-value">NRS 5000</span>
        </li>
    </div>
</div>