<mat-card class="header__card">
    <mat-card-content>
        <div class="header">
            <h1>Restaurant Bill System</h1>
        </div>
    </mat-card-content>
</mat-card>
<mat-grid-list cols="12" rowHeight="85vh" style="overflow: hidden;">
    <mat-grid-tile [colspan]="menuListColSpan">
        <div class="menu__sidebar">
            <div class="menu__title">
                <p class="menu__heading">Menu List</p>
            </div>
            <div class="menu__list">
                <table mat-table [dataSource]="orders" class="mat-elevation-z8 demo-table"
                    *ngIf="orders.length !== 0; else noOrder">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>NAME</th>
                        <td mat-cell [matTooltip]="element.name" *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>PRICE</th>
                        <td mat-cell *matCellDef="let element">NRS {{element.price}}</td>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>QUANTITY</th>
                        <td mat-cell *matCellDef="let element" class="item__qty">
                            <div class="item__row">
                                <mat-icon class="item__icon"
                                    (click)="decreaseQuantity(element.id, element.quantity)">remove</mat-icon>
                                <span class="item__quantity">{{ element.quantity }}</span>
                                <mat-icon class="item__icon"
                                    (click)="increaseQuantity(element.id, element.quantity)">add</mat-icon>
                            </div>
                        </td>
                    </ng-container>

                    <!-- SubTotal Column -->
                    <ng-container matColumnDef="subtotal">
                        <th mat-header-cell *matHeaderCellDef>SUBTOTAL</th>
                        <td mat-cell *matCellDef="let element">NRS {{element.price * element.quantity}}</td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>ACTION</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="item__del">
                                <mat-icon (click)="deleteOrder(element.id)">delete</mat-icon>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ng-template #noOrder>
                    <mat-card class="no-order">
                        <mat-card-title>
                            Your Order is Empty
                        </mat-card-title>
                        <mat-card-content>
                            <img class="no-order__img" mat-card-image src="../../assets/images/no-orders.png"
                                alt="no_order">
                        </mat-card-content>
                        <mat-card-footer>
                            There are no orders yet.
                        </mat-card-footer>
                    </mat-card>
                </ng-template>
            </div>
            <app-menu-details></app-menu-details>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="menuItemColSpan">
        <div class="menu__sidebar">
            <div class="item__category">
                <ul>
                    <li [ngClass]="{ active: selectedCategory === 'all' }" (click)="changeCategory()"><a>ALL</a></li>
                    <li [ngClass]="{ active: selectedCategory === category.name }" *ngFor="let category of categories" (click)="changeCategory(category.name)">
                        <a>{{ category.name | uppercase }}</a>
                    </li>
                </ul>
            </div>
            <div class="item__container">
                <div class="item__list">
                    <div class="item" *ngFor="let item of displayedData" (click)="openPopup(item)">
                        <img class="item__thumbnail" [src]="item.thumbnail" [alt]="item.name">
                        <div class="item__details">
                            <p class="item__name" [matTooltip]="item.name">{{ item.name | uppercase }}</p>
                            <p class="item__categories">{{ item.category | uppercase }}</p>
                            <div class="item__group">
                                <span class="item__price">{{ item.price | currency:'NRS ' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item__pagination" *ngIf="totalPage > 1">
                    <div class="pagination__btn" (click)="prevPage()">
                        <mat-icon matTooltip="prev">keyboard_arrow_left</mat-icon>
                    </div>
                    <div class="pagination__btn" (click)="nextPage()">
                        <mat-icon matTooltip="next">keyboard_arrow_right</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>