<div class="header">
    <h1>Restaurant Bill System</h1>
</div>
<mat-grid-list cols="12" rowHeight="100vh">
    <mat-grid-tile colspan="5">
        <div class="menu__sidebar">
            <div class="menu__title">
                <p class="menu__heading">Menu List</p>
            </div>
            <div class="menu__list">
                <div class="menu__item" *ngFor="let order of orders">
                    <ul>
                        <li>{{ order.name }}</li>
                        <li>
                            <mat-icon class="c-pointer" (click)="decreaseQuantity(order.id, order.quantity)">remove</mat-icon>
                            <span class="item__quantity">{{ order.quantity }}</span>
                            <mat-icon class="c-pointer" (click)="increaseQuantity(order.id, order.quantity)">add</mat-icon>
                        </li>
                        <li>Rs.<span [ngStyle]="{ 'margin-left': '1px' }">{{ order.price }}</span></li>
                        <li (click)="deleteOrder(order.id)">Rs. <span></span>{{ order.quantity && order.price * order.quantity }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="7">
        <div class="menu__sidebar">
            <div class="item__category">
                <ul>
                    <li (click)="changeCategory()"><a>ALL</a></li>
                    <li *ngFor="let category of categories" (click)="changeCategory(category.name)"><a>{{ category.name | uppercase }}</a></li>
                </ul>
            </div>
            <div class="item__container">
                <div class="item__list">
                    <div class="item" *ngFor="let item of items" (click)="openPopup(item)">
                        <img class="item__thumbnail" [src]="item.thumbnail" alt="">
                        <div class="item__details">
                            <p class="item__name">{{ item.name | uppercase }}</p>
                            <p class="item__categories">{{ item.category | uppercase }}</p>
                            <div class="item__group">
                                <span class="item__price">{{ item.price | currency:'Rs. ' }}</span>
                                <!-- <span class="item__button">Add</span> -->
                                <!-- <span class="item__button">Remove</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>