$color-primary: #f2eeeb;
$color-primary-dark: #9b928b;
$color-secondary: #d9d1c8;
$color-white: #eee;

.header {
    // min-height: 5vh;
    // max-height: 5vh;
    text-align: center;
    letter-spacing: .5rem;
}

mat-grid-tile {
    background: #eee;
}

.mat-grid-tile-content {
    display: inline-block !important;
}


// left sidebar

.menu__title {
    font-size: 1.75rem;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
    text-align: center;
    font-weight: 500;
    letter-spacing: .15rem;
    background-color: $color-secondary;
    border: .5px solid $color-primary-dark;
    cursor: pointer;
    p {
        margin: 0 !important;
    }
}


.menu__list {
    margin: 2rem;
    .menu__item {
        border: .5px solid black;
        border-radius: 5px;
        margin: 1.5rem 0;
        background-color: white;
        ul {
            display: flex;
            padding: 0;
            margin: 1.5rem;
            li {
                list-style: none;
                // overflow: hidden;
                // text-overflow: ellipsis;
                &:first-child, &:nth-child(2) {
                    width: calc(30%);
                }
                &:nth-child(3), &:last-child {
                    width: calc(20%);
                }
                &:nth-child(2) {
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }
}

// Right sidebar

.item__category {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background-color: $color-secondary;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: 0; 
        li {
            list-style: none;
            width: calc(25%);
            border: .5px solid $color-primary-dark;
            padding: 1.5rem 0;
            text-align: center;
            letter-spacing: .15rem;
            cursor: pointer;
        }
    }
}

.item__container {
    height: 100% !important;
    overflow-y: scroll !important;
}

.item__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    width: calc(26%);
    aspect-ratio: 1 / 1;
    margin: 1rem 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
}

.item__thumbnail {
    max-width: 100%;
}

.item__details {
    .item__name, .item__price {
        font-size: 1.5rem;
        margin: 0;
    }
}