<div class="header">
    <h1>Restaurant Bill System</h1>
</div>
<mat-grid-list cols="12" rowHeight="95vh">
    <mat-grid-tile colspan="5">
        <div class="menu__sidebar">
            <div class="menu__title">
                <p class="menu__heading">Menu List</p>
            </div>
            <div class="menu__list">
                <div class="menu__item">
                    <ul>
                        <li>Name</li>
                        <li>Name</li>
                        <li>Rs. 250</li>
                        <li>Rs. 1000</li>
                    </ul>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="7">
        <div class="menu__sidebar">
            <div class="menu__category">
                <ul>
                    <li><a>All</a></li>
                    <li><a>Appetisers</a></li>
                    <li><a>Main Courses</a></li>
                    <li><a>Beverages</a></li>
                </ul>
            </div>
            <div class="item__list">
                <div class="item" *ngFor="let item of items">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>