$color-primary: #f2eeeb;
$color-primary-dark: #9b928b;
$color-secondary: #d9d1c8;
$color-white: #eee;
$color-text-primary: hsl(26, 16%, 34%);
$color-text-secondary: #655549b4;

.header__card {
    text-align: center;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
    color: #fff;
    background-color: $color-primary-dark !important;
}

mat-grid-tile {
    background: #eee;
}

.mat-grid-tile-content {
    display: inline-block !important;
}

.menu__sidebar {
    height: 100%;
    overflow-y: scroll;
}


// left sidebar
.menu__title {
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 1.75rem;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
    text-align: center;
    font-weight: 500;
    letter-spacing: .15rem;
    background-color: $color-secondary;
    border: .5px solid $color-primary-dark;
    cursor: pointer;
    p {
        margin: 0 !important;
    }
}

.menu__list {
    margin: 2rem;
    
    .demo-table {
        width: 100%;
    }

    .mat-mdc-row .mat-mdc-cell {
        padding: 1.25rem;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
    }

    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: $color-text-secondary;
    }

    .no-order__img {
        width: calc(80%);
    }

    mat-card-title {
        text-align: center;
        margin-top: 3rem;
    }

    mat-card-footer {
        margin-bottom: 3rem;
    }
}

.menu__details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $color-secondary;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    .menu__detailbar {
        font-size: 1.5rem;
        margin: 0 2rem;
        li {
            list-style: none;
            margin-bottom: 2px;
        }
    }
}

.menu__detail-value {
    margin-left: 5px;
}

// Right sidebar
.item__category {
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background-color: $color-secondary;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: 0; 
        li {
            list-style: none;
            width: calc(25%);
            border: .5px solid $color-primary-dark;
            padding: 1.5rem 0;
            text-align: center;
            letter-spacing: .15rem;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }
    }
    @media (max-width: 1079px) {
        font-size: 1.25rem;
    }
}

.item__container {
    height: 100%;
}

.active {
    font-weight: bold;
}

.item__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.item {
    width: calc(28%);
    aspect-ratio: 1 / 1;
    margin: 1rem 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    height: fit-content;
}

.item__thumbnail {
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

.item__details {
    .item__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
    }
    .item__categories {
        font-size: 1.25rem;
        margin: 0;
        color: $color-text-secondary;
    }
    .item__name, .item__price {
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-text-primary;
        letter-spacing: 1px;
    }
}

.item__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item__button {
        font-weight: 500;
        border: .5px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: $color-primary-dark;
            color: #fff;
        }
    }
}

.item__form {
    display: flex;
    align-items: center;
    .discount__form {
        width: 100%;
    }
    .discount__label {
        width: 100%;
    }
}

.item__quantity {
    font-size: 1.75rem;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.item__qty {
    .item__row {
        display: flex;
        border: .5px solid $color-text-secondary;
        border-radius: 10px;
        padding: .5rem;
        .item__icon {
            cursor: pointer;
            color: $color-text-secondary;
        }
    }
}

.item__del {
    color: $color-text-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-order {
    text-align: center;
}


// Pagination
.item__pagination {
    position: sticky;
    bottom: 0;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem 6rem;

    .pagination__btn {
        border: .5px solid black;
        border-radius: 100px;
        height: 25px;
        width: 25px;
        padding: 1rem;
        cursor: pointer;
    }

    .pagination__page {
        display: flex;
        justify-content: center;
        justify-items: center;
        li {
            justify-items: center;
            list-style: none;
        }
    }
}