<mat-card>
    <mat-card-content>
        <div>
            <mat-grid-list cols="12" rowHeight="1:2">
                <mat-grid-tile colspan="12">
                    <div class="item__container">
                        <p class="item__title">{{ item.name | uppercase }}</p>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    <div class="item__container">
                        <div class="item__info">
                            <p class="item__title">Discount in Amount</p>
                            <p>NRS {{ calculateDiscount() }}</p>
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6" rowspan="2">
                    <div class="item__container">
                        <div class="item__info">
                            <p class="item__title">Price After Discount</p>
                            <p>NRS {{ item.price - calculateDiscount() }}</p>
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    <div class="item__container">
                        <div class="item__form">
                            <mat-form-field>
                                <div class="discount__label">
                                    <mat-label>Discount in Amount</mat-label>
                                    <input matInput [(ngModel)]="discountPercent">
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    <div class="button">
                        <button mat-raised-button color="success" (click)="onSave()">Save</button>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    <div class="button">
                        <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-content>
</mat-card>