<mat-card>
    <mat-card-content>
        <div>
            <mat-grid-list cols="12" rowHeight="1:2">
                <mat-grid-tile colspan="12">
                    <div class="item__name">
                        Item Name
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    <div class="item__form">
                        <form class="discount__form">
                            <mat-form-field class="discount__label">
                              <mat-label>Discount in Amount</mat-label>
                              <input matInput placeholder="" value="">
                            </mat-form-field>
                        </form>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6" rowspan="2">
                    3
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    4
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    <div class="button">
                        <button mat-raised-button color="success" (click)="onSave()">Save</button>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    <div class="button">
                        <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-content>
</mat-card>