<mat-card>
    <mat-card-content>
        <div>
            <mat-grid-list cols="12" rowHeight="1:1">
                <mat-grid-tile colspan="12">
                    <div class="item__name">
                        Item Name
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    <form class="item__discount">
                        <mat-form-field class="example-full-width">
                          <mat-label>Discount in Amount</mat-label>
                          <input matInput placeholder="" value="">
                        </mat-form-field>
                    </form>
                </mat-grid-tile>

                <mat-grid-tile colspan="6" rowspan="2">
                    3
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    4
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    5
                </mat-grid-tile>

                <mat-grid-tile colspan="6">
                    6
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-content>
</mat-card>